:root {
  --black: #0a0a0a;
  --red: #e8001a;
  --orange: #ff6a00;
  --white: #ffffff;
  --gray: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Inter', sens-serif;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}